
/*<---------------css for the whole screen--------------->*/
.whole-screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/*<---------------css for the main content beside the sidebar --------------->*/
.main-content {
  display: flex;
  flex-direction: row; /* Sidebar on the left, MainBody on the right */
  height: 100vh;       /* Optional: ensures both fill the viewport height */
}

/*<---------------css for the sidebar and main body--------------->*/


/*<---------------css for the main body--------------->*/


